<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="MR.Gestures" version="1.4.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Softlion.XamSvg" version="2.3.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Vapolia.XamSvg.Forms" version="2.3.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.XamJam.BugHound" version="0.0.4-alpha" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="portable45-net45+win8+wpa81" />
</packages>